.header {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size:100px;
    bottom:-10px;

}

h1{
    font-family: "Lato", sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 50px;
    
}
h3{
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 30px;
}
.body{
    text-align: left;
    width: 70%;
    align-content: space-between;
    padding-left: 10px;
    font-family: "Lato", sans-serif;
}
.table{
    border-spacing: 10px;
}
#midline{
    background-color: black;
    border-width: 20px;
    height:10px;
}