body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size:100px;
    bottom:-10px;
    margin: 0px;
}
#ourcompany {
    margin: 0px;
    margin-bottom: 20px;
}
.headlink:hover {
    color: #2C83DE;
}
h1{
    font-family: "Lato", sans-serif;
    text-align: left;
    font-style: italic;
    font-size: 50px;
    margin: 0px;
    margin-left: 10px;

}
h3{
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 30px;
    margin: 5px;
}
a {
    text-decoration: none;
}
.body{
    text-align: left;
    width: 70%;
    align-content: space-between;
    padding-left: 10px;
    font-family: "Lato", sans-serif;
}
.table{
    border-spacing: 10px;
    width: 100vw;
    min-height: 300px;
}
#midline{
    background-color: black;
    border-width: 20px;
    height:10px;
}
#navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    z-index: 3;
}

.headlink {
    color: white;
    font-family: "lato";
    font-weight: 300;
    font-size: 30px;
    transition: color .5s;
}

#navlogo {
    width: 200px;
}

#navlogo:hover {
    cursor: pointer;
}

#navlogodiv {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 8;
}

#nav-left {
    width: calc(50vw - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}

#nav-right {
    width: calc(50vw - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}

#footer {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: black;
}
#footgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 360px;
    margin-right: 50px;
}
.foottext {
    width: 130px;
    height: auto;
    color: white;
    text-align: center;
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
    font-size: 15px;
    justify-content: center;
    margin: 0px;
    font-weight: 600;
}
#desc {
    display: flex;
    align-self: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#exlinks {
    height: 120px;
    margin: 0px;
}
.linksplit2 {
    height: 80px;
    width: 1px;
    background-color: white;
}
#content {
    display: flex;
    flex-direction: column;
}
#qanda {
    margin-left: 250px;
}
#service {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav-pos {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 0vw;
    z-index: 10;
}

nav-cont {
    display: block;
    width: 0px;
}

#ham-menu {
    position: relative;
    top: -270px;
    left: calc(100vw + 300px);
    padding-top: 90px;
    width: 300px;
    height: 100vh;
    background-color: black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#ham {
    position: fixed;
    right: 0px;
    width: 50px;
    margin-top: 10px;
    margin-right: 30px;
    z-index: 20;
}

#clickham {
    position: fixed;
    right: 0px;
    margin-top: 10px;
    margin-right: 19px;
    z-index: 21;
    width: 70px;
    height: 60px;
}

#dimmer {
    z-index: 3;
    opacity: .5;
    background-color: black;
    height: 120vh;
    width: 100vw;
    top: -100px;
    position: fixed;
    visibility: hidden;
}

.sidelink {
    color: white;
    font-family: "lato";
    font-weight: 300;
    font-size: 30px;
    margin-right: 25px;
    transition: color .5s;
}

.sidelink:hover {
    color: #2C83DE;
}

#externalgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-right: 20px;
}

.externaltext {
    width: auto;
    height: auto;
    color: white;
    text-align: right;
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
    font-size: 15px;
    margin-right: 30px;
    font-weight: 600;
}

.externallinksplit2 {
    height: 1px;
    width: 80px;
    background-color: white;
}
.sidelink {
        font-size: 60px;
        text-align: right;
    }
.feet {
    color: white;
    text-align: right;
}
@media screen and (max-width: 1300px) {
    #navbar {
        visibility: collapse;
        width: 0px;
        height: 0px;
    }
    #externalgroup {
        flex-direction: row;
    }
    .externaltext {
        font-size: 20px;
    }
    .externallinksplit2 {
        height: 80px;
        width: 1px;
    }
    #exlinks {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}
