body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    font-family: "lato";
    font-weight: 100;
    font-size: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "roboto";
    font-size: 100px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
    font-weight: 300;
    font-size: 35px;
}

#nav-pos {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
}

#dropbutton {
    margin-right: 25px;
}

#ham-menu {
}

.carscroll {
    height: 100vh;
    width: 100vw;
}

#scroll1 {
    background-image: url(../images/car1back1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#scroll2 {
    background-color: black;
}

#scroll3 {
    background-image: url(../images/car1back3.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#scroll4 {
    background-color: forestgreen;
}

#scroll5 {
    background-color: thistle;
}

#scroll6 {
    background-color: orange;
}

#feathead {
    color: white;
}

.sub {
    font-family: "roboto";
    font-weight: 300;
    font-size: 24px;
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.featbar {
    background-color: white;
    width: 80vw;
    height: 70px;
    display: flex;
    align-items: center;
}

#barcont {
    width: 100vw;
    margin-top: 20vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#spechead {
    text-align: center;
}

#symbolhold {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.symbol {
    width: 20vw;
}
