body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "lato";
    font-weight: 100;
    font-size: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "roboto";
    font-size: 100px;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
    font-weight: 300;
    font-size: 35px;
}

h4 {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
    font-weight: 300;
    font-size: 30px;
}

h5 {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
    font-weight: 300;
    font-size: 25px;
}

h6 {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-family: "roboto";
    font-weight: 600;
    font-size: 18px;
}

p {
    margin: 0px;
    text-align: center;
    align-content: space-between;
    padding-left: 10px;
    font-family: "Lato", sans-serif;
}

#indexbod {
    display: flex;
    flex-direction: column;

}

#nav-pos {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 0vw;
    z-index: 10;
}

nav-cont {
    display: block;
    width: 0px;
}

#ham-menu {
    position: relative;
    top: -57px;
    left: calc(100vw + 300px);
    padding-top: 90px;
    width: 300px;
    height: 100vh;
    background-color: black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#ham {
    position: fixed;
    right: 0px;
    width: 50px;
    margin-top: 10px;
    margin-right: 30px;
    z-index: 20;
}

#clickham {
    position: fixed;
    right: 0px;
    margin-top: 10px;
    margin-right: 19px;
    z-index: 21;
    width: 70px;
    height: 60px;
}

#dimmer {
    z-index: 3;
    opacity: .5;
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    visibility: hidden;
}

.sidelink {
    color: white;
    margin-right: 30px;

}

#footgroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.foottext {
    width: auto;
    height: auto;
    color: white;
    text-align: right;
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
    font-size: 15px;
    margin-right: 30px;
    font-weight: 600;
}

.linksplit2 {
    height: 1px;
    width: 80px;
    background-color: white;
}

.feet {
    color: white;
    text-align: right;
}

#ymove {
    width: 17px;
}

.carscroll {
    height: 100vh;
    width: 100vw;
}

#scroll1 {
    background-image: url(../images/car1back1.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#scroll2 {
    background-color: black;
}

#scroll3 {
    background-image: url(../images/car1back3.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#scroll4 {
    background-image: url(../images/car1back4.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#scroll5 {
    background-image: url(../images/car1back5.png);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    background-size: cover;
    background-position: bottom;
}

#scroll6 {
    display: flex;
    flex-direction: row;
}

#threebot {
    height: 55vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#threebotleft {
    height: 40vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#threebotright {
    height: 40vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.advlink {
    text-decoration: underline;
    font-size: 40px;
}

.advlink:hover {
    cursor: pointer;
}

#advcontainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.onblack {
    color: white;
}

#linkback {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#carcont1 {
    width: 100vw;
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: flex-end;
}

#6left {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

#featimg {
    position: absolute;
    left: -300px;
}

.popout {
    height: 100vh;
    width: 300px;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pop1 {
    bottom: -100vh;
    left: calc(100vw - 320px);
}

#pop2 {
    bottom: -100vh;
    left: 100vw;
}

#pop3 {
    bottom: -100vh;
    left: 100vw;
}

#selftitle {
    text-align: center;
}

#frontimg {
    width: 75vh;
}

#6top {
    height: 10vh;
}

.sixrows {
    height: 30vh;
    width: 75vw;
}

.buildhead {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemhold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carcolor {
    width: 10vw;
    max-width: 120px;
    max-height: 120px;
}

.item1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item1:hover {
    cursor: pointer;
}

.extra {
    width: 10vw;
    max-width: 120px;
    max-height: 120px;
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item2:hover {
    cursor: pointer;
}

.item3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.trimput {
    width: 25px;
    height: 25px;
}

.trimtype {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sixdivider {
    width: 75vw;
    height: 4px;
    background-color: black;
}

#vertdiv {
    margin: 0px;
    height: 100vh;
    width: 4px;
    background-color: black;
}

#6right {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sixrighttop {
    width: auto;
    padding-right: 25px;
    padding-left: 8px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#sixrightbot {
    width: auto;
    padding-right: 25px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#price {
    font-size: 55px;
    font-weight: 400;
}

#final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 0px;
}

#buttonhold {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payop {
    width: 33%;
    height: 50px;
    font-family: "roboto";
    font-size: 18px;
    outline: none;
    border: 0px;
    box-shadow: 0px;
}

.payop:hover {
    cursor: pointer;
}

#direct {
    background-color: black;
    color: white;
}

#finance {
    background-color: white;
    color: black;
}

#lease {
    background-color: white;
    color: black;
}

#horisplit {
    width: 25vw;
    height: .5px;
    background-color: black;
}

.iflease {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.ifloan {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#calculate {
    border: 0px;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 20vw;
    color: white;
    font-family: "roboto";
    font-size: 25px;
}

#calculate:hover {
    cursor: pointer;
}

#feathead {
    color: white;
}

.signing {
    align-self: center;
}

.sub {
    font-family: "roboto";
    font-weight: 300;
    font-size: 24px;
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#advinfo {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#benecont {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    justify-content: space-around;
}

#benepic {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-height: 50vw;
    align-self: flex-end;
    margin-right: 30px;
    position: relative;
}

.benefits {
    width: 100%;
}

.featbar {
    background-color: white;
    width: 80vw;
    height: 70px;
    display: flex;
    align-items: center;
}

.featbar:hover {
    cursor: pointer;
}

#clickable1 {
    z-index: 30;
    height: 70px;
    width: 100%;
    position: absolute;
}

#clickable2 {
    z-index: 30;
    height: 70px;
    width: 100%;
    position: absolute;
}

#clickable3 {
    z-index: 30;
    height: 70px;
    width: 100%;
    position: absolute;
}

clickable1:hover {
    cursor: pointer;
}

clickable2:hover {
    cursor: pointer;
}

clickable3:hover {
    cursor: pointer;
}

#barcont {
    width: 100vw;
    margin-top: 20vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#spechead {
    text-align: center;
}

#symbolhold {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.symbol {
    width: 20vw;
}

.cap {
    width: 20vw;
}

#safeinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 500px;
    height: 90vh;
    margin-right: calc(30vw - 360px);
}

#shield {
    margin-left: 180px;
    width: 670px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#award {
    width: 200px;
}

#placehold {
    height: 400px;
    width: 400px;
    background-color: brown;
    align-self: flex-end;
}

#tagline {
    z-index: 1;
}

@media screen and (max-width: 1550px) {
    #safeinfo {
        visibility: hidden;
        width: 0px;
    }
}

@media screen and (max-width: 1200px) {
    #benepic {
        position: relative;
        right: 100px;
    }
    #shield {
        width: 60vw;
        margin-left: 160px;
    }
}
